.bookRegist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #e1e1e1;
}

.bookRegistForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputItem {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: small;
}

.submitButton {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #FFa100;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
.submitButton:hover {
    cursor: pointer;
    background-color: #ffa812;
}

input {
    width: 20em;
    border: none;
    border-bottom: solid 3px rgb(91, 91, 91);
    height: 2em;
    font-size: 17px;
    transition: all .5s;
}

input:focus {
    outline: none;
    border-bottom: solid 3px rgb(230, 185, 23);
}

.error{
    margin-top: 10px;
    color: red;
    font-weight: 550;
}