.bookWrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    margin: 2px;
    background-color: aliceblue;
    border: solid 1px black;
    border-radius: 5px;
    width: 45em;
    transition: all .2s;
}
.bookWrapper:hover{
    transform: scale(1.01);
}

.datetime{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    align-items: center;
    padding: 5px;
    width: 8em;
    white-space: nowrap;
}
.date{
    color: white;
}
.time{
    color: white;
}

.description{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title{  
    font-weight: 600;
    margin-left: 10px;
    padding-left: 5px;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 3px solid #4b4b4b;
}


@media only screen and (max-width: 1199px) {
    /* タブレット (landscape) */
}

@media only screen and (max-width: 767px) {
    /* タブレット (portrait) */
    .description{
        flex-direction: column;
    }

    .bookWrapper{
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    /* スマホ */

}

